  <% provide(:title, 'Home') %>

   <div class="center hero-unit">
   <H1>Home</H1>
   <p> This is the sign up page for the sample app..
   <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>


<p> <%= link_to image_tag("rails.png", alt:"Rails"), 'http://rubyonrails.org' %>
